
/* ************************************** */
/*	General													      */
/* ************************************** */

#skiplinks {
	margin: 0;
	li {
		display: inline;
		margin: 0;
		padding: 0;
	}

	a {
		@include sr-only;
		@include sr-only-focusable;
	}

	a:hover {
		color: #468847;
	}
}

#main {
	background-color: #ffffff;
}

