.sass-cache

# from https://github.com/gulpjs/gulp/blob/master/.gitignore
.DS_Store
*.log
node_modules
build
*.node
components
coverage
*.orig
.idea
sandbox
test/out-fixtures/*
test/watch-*.txt
gulp.1

# Add-ons
bower_components
.git
.vscode

# Globals 4
/g/4/c/g.css
/g/4/f/**
/g/4/j/**