
/* ************************************** */
/*	head      								*/
/* ************************************** */

/* Lite Elements */
#top-wrap.lite {
	background-color: $bc-primary-color;
	box-shadow: 0 0px 10px #999;
}
.header-search{
	margin-top: 0.66667em;
}
.header-search fieldset {
	white-space:nowrap;
}
#smallhead-wrap {
	background: $bc-primary-color url(../i/headbg.jpg) repeat-y;
}
#smallhead {
	position: relative;
	zoom: 1 /*IE hack, see next line*/;
	@include transition( padding 0.5s ease );
}

.lite #bc-logo {
	margin-top: 0.2em;
	margin-bottom: 0.2em;
}
.lite #bc-logo:hover {
	background: url(../i/homepage.png) no-repeat 100% 0.5em;
}

#mobile-nav  {
	padding: 0;
	list-style-type: none;
	margin: 0;
}

@media screen and (min-width: $breakpoint-bs-sm) {
	.lite #bc-logo {
		margin-top: 0.2em;
		margin-bottom: 0.2em;
		width: 310px;
	}
	#smallhead {
		padding:  0 1em;
	}
}

@media screen and (min-width: 55em) {
	#smallhead {
		padding:  0 2em;
	}
}
@media screen and (min-width: 80em) {
	#smallhead {
		padding:  0;
	}
}


/* Branded */

#top-wrap.branded {
	background: $bc-primary-color url(../i/headbgwide.jpg) repeat-x;
}

.container.logobar {
	background: url(../i/headbg.jpg) repeat-y scroll 0 0 $bc-primary-color;
	padding-left: 0;
	padding-right: 0;
}
.container.logobar.border {
	@include box-shadow( -3px 1px 2px rgba(0, 32, 63, 0.4), 3px 1px 2px rgba(0, 32, 63, 0.4));
}

.ie7 .container.logobar .border,
.ie8 .container.logobar .border{
	border-left: 1px solid #002c57;
	border-right: 1px solid #002c57;
}

#bc-logo {
	display: block;
	float: none;
}

.branded #bc-logo {
	margin-top: 0.666655557em;
	padding-bottom: 0.333333em;
}
#bc-logo img {
	display: block;
	height: auto;
	width: auto;
	margin: 0 auto;
}

#mob-nav .input-group {
	margin-bottom: 1em;
}

#mybc {  // should be class?
	font-style: italic;
}

ul#college-top-actions {
	@include flexbox((
    display: flex,
    flex-direction: row wrap,
    justify-content: space-around
  ));

}
ul#college-top-actions li {
	list-style: none;
	margin: 0 auto;
	padding: .2em;
	@include flexbox((
    flex: 0 1 auto
  ));

	float: left; //fallback for non-flexbox browsers
}


ul#college-top-actions a {
	color: white;
	color: rgba(255,255,255,0.8);
	padding: .5em 1em;
	display: block;
}

ul#college-top-actions a:hover {
	color: white;
}
.lite ul#college-top-actions {
	padding: 0;
	margin: 0;
	display: none;  // If we decide to show in lite, remove
}
.lite ul#college-top-actions li {
	margin: 0 auto 0 auto;
}

@media screen and (min-width: $breakpoint-bs-sm) {
	.branded #bc-logo {
		margin-top: 1.16666667em;
		margin-bottom: 1.16666667em;
		padding-top: .33333333em;
		padding-bottom: 0.333333em;
		width: 300px;
	}
	.ie8 .branded #bc-logo {
		width: 280px;
	}
	.branded #bc-logo img {
		max-width: 100%
	}

	ul.top-actions, #bc-logo {
		float: left;
	}
	#bc-logo img {
		margin: 0;
	}

	ul#college-top-actions,
	.lite ul#college-top-actions {
		display: block;
		float: right;
	}
	ul#college-top-actions li{
		font-size: .8em;
		margin: 0em auto 0em auto;
	}

	ul#college-top-actions a {
		padding: .1em 1em;
	}
	.lite ul#college-top-actions a {
		line-height: 1.5em;
	}
	.flexwrap {
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		@include display-flex();
		-webkit-box-orient: vertical;
		-webkit-box-direction: reverse;
		-moz-box-orient: vertical;
		-moz-box-direction: reverse;
		-ms-flex-direction: column-reverse;
		@include flex-direction(column-reverse);
	}
	/* Provide display:table based styles for non-flexbox browsers */
	.no-flexbox.no-flexboxlegacy.no-flexboxtweener .flexwrap {
		display: table;
		width: 100%;
	}


	#main-nav-wrap {
		-webkit-box-flex: auto;
		-moz-box-flex: auto;
		-ms-flex: auto;
		@include flex (auto);
	}
	/* Provide display:table based styles for non-flexbox browsers */
	.no-flexbox.no-flexboxlegacy.no-flexboxtweener #main-nav-wrap {
		display: table-header-group;
	}
	#content {
		-webkit-box-flex: auto;
		-moz-box-flex: auto;
		-ms-flex: auto;
		@include flex (auto);
	}
	#nav-top {
		position: absolute !important;
		left: -99999px !important;
	}
	.navbar-nav {
		margin: 0;
	}

}

@media screen and (min-width: 50em) {
	.branded #bc-logo {
		width: 420px;
	}
	.branded #bc-logo img {
		max-width: 100%;
	}
	.ie8 .branded #bc-logo {
		width: 410px;
	}
	.branded #bc-logo:hover {
		background: url(../i/homepage.png) no-repeat 350px 17px;
	}
}



/* ************************************** */
/*	Section header      */
/* ************************************** */

#site-header {
	background-color: white;
	padding-top: 1em;
	padding-bottom:1em;
}
.globals-branded #site-header {
	background-color: transparent;
	padding: 1.3333em 0 0 0;
}
#site-header .social-media {
	margin-top: 1.3333em;
}
#site-header .social-media li {
    display: inline-block;
    margin-right: .66666667em;
    padding: 0;
    margin-left: 0;
}
#site-header .social-media a {
	float: none;
	display: inline-block;
}
#site-header .social-media a.more {
	font-size: .9em;
	padding-top: .3333333em;
}

.branded .form-control {
	height: auto;
}


@media screen and (min-width: $breakpoint-bs-sm) {
	#site-header {
		padding-top: 1.666667em;
		padding-bottom: 2em;
	}
	#site-header .header-search {
		margin: 0;
	}

	#site-header .social-media li {
		margin-right: 0;
	}
	#site-header .form-search {
		margin-top: 1em;
		margin-bottom: 1.3333em;
	}

	.globals-branded #site-header {
		padding: 0;
		padding-top: 2em;
	}
}

/*
@media screen and (min-width: 46em) {
	#site-header .header-search {
		margin-top: 1em;
	}
}
*/

@media screen and (min-width: 50em) {
#site-header .social-media {
/*    margin-top: 0; */
}
#site-header .header-search {
		margin-top: 0em;
	}
}
@media screen and (min-width: 62em) {
	#site-header .social-media {
			margin-top: 0;
			text-align: right;
	}

	ul#college-top-actions a.top-actions {
		padding-left: .7em;
		padding-right: .7em;
	}
}

p.site-title,
h1.site-title {
	font-size: 2.4em;
	font-family: $font-body;
	color: #333333;
}
.globals-branded {
	h1.site-title,
	p.site-title {
		font-weight: 100;
		margin-bottom: .33em;
	}
}

p.site-title a,
h1.site-title a {
	color: #333;
	text-decoration: none;
}

p.site-description {
	line-height: 2.25em;
	margin: 0;
}


/* ************************************** */
/*	Content space 									      */
/* ************************************** */

#content {
	background-color: white;
}
#content.transparent {
	background-color: transparent;
}


/* ************************************** */
/*	Foot														      */
/* ************************************** */


#bigfoot {
	background-color: #E1E1E1;
    border-bottom: 1px solid #999999;
    border-top: 1px solid #999999;
}
#bigfoot .inner {
	@include box-shadow (-2px 2px 2px rgba(160, 160, 160, 0.7), 2px 2px 2px rgba(160, 160, 160, 0.7));
	padding-top: 1.3333333em;
	padding-bottom: 1.3333333em;
	background-color: #E5E5E5;
}

.ie7 #bigfoot .inner,
.ie8 #bigfoot .inner {
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
}

#bigfoot ul {
	margin: 0;
	padding: 0;
	list-style: none
}

#bigfoot li {
	margin: 0;
	padding: 0;
	font-size: 0.9em;
	color: #494949;
}

#bigfoot h3 {
	font-size: .9em;
	font-weight: bold;
	color: #666;
	font-family: $font-body;
}
#bigfoot h3 ~ ul {
	margin-bottom: $std-margin;
}

#bigfoot a {
	text-decoration: underline;
	white-space: nowrap;
	line-height:1em;
	color: #003D79;
}
#bigfoot a:hover,
#bigfoot a:active {
	color: #000;
}

.social-media {
	margin-top: 1.3333em;
}
.social-media li{
	display: inline;
}
.social-media a {
	display: block;
	float: left;
	margin-right: .66666667em;
}
.social-media a.more {
	font-size: .9em;
	padding-top: .3333333em;}
#bellevueaddress {}
#bellevueaddress .tel,
#bellevueaddress .adr {
	font-size: .9em;
}

#legalbar {
	clear: left;
	margin: 0 auto;
	padding: 1em 0 1em 0;
	text-align: center;
}
#bigfoot + .container #legalbar {
	padding: 0.66666667em 0 1em 0;
}
#legalbar a:focus {
	outline: dotted 1px $bc-primary-color}
#legalbar li {
	display: inline;
	padding:0;
	margin: 0;
	list-style-type: none;}
#legalbar li a {
	padding: 0 0.9em 0 1em;
	color: #666;
	border-left: 1px solid #DDDDDD;
	font-size: .8em;
	white-space: nowrap;}
#legalbar li a:hover,
#legalbar li a:focus {
	color: $bc-primary-color;}
#legalbar li.first a {
	border-left: none;}
#legalbar li.last {
	float: none;
	clear: left;
	display: block;
	padding: 0}
#legalbar li.last a {
	padding-left: 0;
	border-left: none; }
#legalbar span {
	padding-left: 21px;}


@media screen and (min-width: 50em) {
	#main-wrap,
	#bigfoot,
	#top-wrap { padding: 0 0.66667em;}
}




/* ************************************** */
/* ************************************** */
/*	Our Bootstrap Overrides						    */
/* ************************************** */
/* ************************************** */

#main-nav-wrap .container-fluid {
//	padding: 0;
}

/* ************************************** */
/* Emergency Alerts (Rave) 				*/
/* ************************************** */

/* #ravealertheader.container > #ravelertmessage.alert.alert-danger.alert-error */

#ravealertheader.alert {
	@include border-radius(0);
	@include box-shadow( -3px 1px 2px rgba(0, 32, 63, 0.4), 3px 1px 2px rgba(0, 32, 63, 0.4));
	margin-bottom: 0;
}

#ravealertheader .glyphicon {
	font-size: 4em;
	text-align: center;
	display: block;
}
