/**
 * College Navbar Styles
 */


/**
 * General
 */
#main-nav-wrap {
	background: $bc-primary-color url(../i/headbgwide.jpg) 0 -20px repeat-x;
	overflow: hidden;
}
#main-nav-wrap .container {
	padding-left: 0;
	padding-right: 0;
}

#college-navbar a {
	text-decoration: none;

}

/* prevent normal focus state */
#college-navbar a:focus {
	@extend a:hover;
	box-shadow: none;
	border-radius: none;
	color: #fff;
}

.navbar {
	background: #0071bc;
	@include background-image(linear-gradient(#0071bc 0%, #004684 100%)); /* W3C */
	@include border-radius(0px, 0px); // Override Bootstrap Default
	min-height:30px !important;
	margin-bottom: 0;
	border: none;

	li {
		margin: 0;
		padding: 0;
	}
}

.navbar-nav > li > a {
	text-align: center;
	width: 100%;
}

.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover {
	text-decoration: none;
	color: #FFFFFF;
	@include background-image(linear-gradient(to bottom, rgb(129,167,200) 0%,rgb(62,116,163) 100%));
}

.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
	color: #FFFFFF;
	@include background-image(linear-gradient(to bottom, #27445f, #143351));
	@include box-shadow(inset 0 0px 1em rgba(0, 0, 0, 0.2));
	border-right: 1px solid #002d3f;
	border-bottom: 1px solid #002d3f;
}

.navbar-default .navbar-nav > li > a {
	color: #ffffff;
	border-right-color: #fff;
	font-weight: bold;
}


/**
 * Breakpoints
 */

@media screen and (min-width: $breakpoint-bs-sm) {
	#college-navbar.navbar .nav > li > a {
		padding: .75em .25em;
		font-size: 0.9em;
	}

	.lite #college-navbar.navbar .nav > li {
		border-top: 1px solid #5395c5;
	}

	#college-navbar.navbar .nav > li {
		border-right: 1px solid #5395c5;
		border-color: rgba(255,255,255,0.2);
	}

	#college-navbar.navbar .nav > li:last-child,
	#college-navbar.navbar .nav > li:last-child > a {
		border-right: none !important;
	}

	#main-nav-link {
		a {
			position: absolute;
			width: 1px;
			height: 1px;
			padding: 0;
			margin: -1px;
			overflow: hidden;
			clip: rect(0,0,0,0);
			border: 0;
		}
		a:focus {
			position:static;
			width: auto;
			height: auto;
			padding: 0;
			margin: 0;
			overflow:auto;
			border: 0;
		}

	}

	/* Flexbox Goodness */
	#college-navbar.navbar .nav {
		float: none;

		/* Legacy Flexbox */
		display: -webkit-box;
		display: -moz-box;
		display: box;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-moz-box-orient: horizontal;
		-moz-box-direction: normal;
		box-direction: normal;
		box-orient: horizontal;

		/* IE 10 Flexbox */
		display: -ms-flexbox;
		display: flexbox;
		-ms-flex-direction: row;
		flex-direction: row;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;

		/* Modern Flexbox */
		@include display-flex();
		@include flex-direction(row);
		@include flex-wrap(wrap);


		li {
			float: none;
			/* Legacy Flexbox */
			-webkit-box-flex: auto;
			-moz-box-flex: auto;
			box-flex: auto;

			/* IE 10 Flexbox */
			-ms-flex: 1 1 auto;
			flex: 1 1 auto;

			/* Modern Flexbox */
			@include flex(1 1 auto);
		}

		/*
		 * Fancy CSS3 selectors to handle situations when there are very few menu items
		 *
		 * Disables flexbox when there are 3 or fewer menu items. Based on http://stackoverflow.com/a/12198561
		*/
		li:first-child:nth-last-child(1),
		li:first-child:nth-last-child(2),
		li:first-child:nth-last-child(2) ~ li,
		li:first-child:nth-last-child(3),
		li:first-child:nth-last-child(3) ~ li,
		li:first-child:nth-last-child(4),
		li:first-child:nth-last-child(4) ~ li {
			float: left;
			border-right: 1px solid #5395c5 !important;
			border-top: none;
			/* Legacy Flexbox */
			-webkit-box-flex: none;
			-moz-box-flex: none;
			box-flex: none;

			/* IE 10 Flexbox */
			-ms-flex: none;
			flex: none;

			/* Modern Flexbox */
			@include flex(none);

			a {
				padding-left: 2em;
				padding-right: 2em;
			}
		}
	}

	/*
	 * Non-Flexbox Fallback
	 */

	/* No Flexwrap */
	.flexbox.no-flexwrap,
	.flexboxtweener.no-flexwrap,
	.flexboxlegacy.no-flexwrap {
		#college-navbar.navbar .nav li {
			display: inline-block;
		}
	}
	/* No Flexbox */
	.no-flexbox.no-flexboxlegacy.no-flexboxtweener #college-navbar.navbar .nav li {
		width: auto;
		float: left;
		a {
			padding-left: 1em;
			padding-right: 1em;
		}

	}
}

@media screen and (min-width: 52.5em) {
	#college-navbar.navbar .nav > li > a {
		font-size: 1em;
	}
}


/**
 * Branded Styles
*/

/**
 * Mark items as selected when class is added to body
 */
.nav-home    	#college-navbar.navbar .nav > li#nav-home > a,
.nav-classes    #college-navbar.navbar .nav > li#nav-classes > a,
.nav-programs   #college-navbar.navbar .nav > li#nav-programs > a,
.nav-enrollment #college-navbar.navbar .nav > li#nav-enrollment > a,
.nav-services   #college-navbar.navbar .nav > li#nav-services > a,
.nav-campuslife #college-navbar.navbar .nav > li#nav-campuslife > a,
.nav-about      #college-navbar.navbar .nav > li#nav-about > a {
  color: #FFFFFF;
	@include background-image(linear-gradient(to bottom,  rgb(0,35,70) 0%,rgb(0,18,36) 100%));
	border-right: 1px solid rgba(255, 255, 255, 0.2);
}
.nav-home    	#college-navbar.navbar .nav > li#nav-home > a:hover,
.nav-classes    #college-navbar.navbar .nav > li#nav-classes > a:hover,
.nav-programs   #college-navbar.navbar .nav > li#nav-programs > a:hover,
.nav-enrollment #college-navbar.navbar .nav > li#nav-enrollment > a:hover,
.nav-services   #college-navbar.navbar .nav > li#nav-services > a:hover,
.nav-campuslife #college-navbar.navbar .nav > li#nav-campuslife > a:hover,
.nav-about      #college-navbar.navbar .nav > li#nav-about > a:hover,
.nav-home    	#college-navbar.navbar .nav > li#nav-home > a:focus,
.nav-classes    #college-navbar.navbar .nav > li#nav-classes > a:focus,
.nav-programs   #college-navbar.navbar .nav > li#nav-programs > a:focus,
.nav-enrollment #college-navbar.navbar .nav > li#nav-enrollment > a:focus,
.nav-services   #college-navbar.navbar .nav > li#nav-services > a:focus,
.nav-campuslife #college-navbar.navbar .nav > li#nav-campuslife > a:focus,
.nav-about      #college-navbar.navbar .nav > li#nav-about > a:focus {
	@include background-image(linear-gradient(to bottom, rgb(45,82,118) 0%,rgb(20,53,83) 100%));
}

.branded #college-navbar {
	@include box-shadow( -3px 1px 2px rgba(0, 32, 63, 0.4), 3px 1px 2px rgba(0, 32, 63, 0.4));
}
