
/* ************************************** */
/*	Bellevue College Global Elements      */
/* ************************************** */

a {
	outline: none;
}

#content {
	/* Prevent long words from breaking formatting */
	/* These are technically the same, but use both */
	overflow-wrap: break-word;
	word-wrap: break-word;

	/* Instead use this non-standard one: */
	word-break: break-word;

	/* Adds a hyphen where the word breaks, if supported (No Blink) */
	hyphens: auto;
}

/* **************************************** */
/*	Scale:  																*/
/*  traditional http://lamb.cc/typograph/   */
/* **************************************** */

h1, h2, h3, h4, h5, h6 {
	clear: both;
}
h1 {
	line-height: 1.296em;
}
h2 {
	line-height: 1.25em;
	margin-top: 2em;
	margin-top: 3rem;
}
h3 {
	line-height: 1.429em;
	margin-top: 2em;
	margin-top: 2.66666667rem;
}
h4 {
	line-height: 1.389em;
	margin-top: 2em;
	margin-top: 2.333333rem;
}
h5 {
	line-height: 1.515em;
	margin-top: 2em;
	margin-top: 2.1666667rem;  /* line-height 27.5px, margin-top: 32.5px = 60px */
}
h6 {
	line-height: 1.66666667em;
	margin-top: 2em;
}
h1 + h2, h2 + h3, h3 + h4, h4 + h5, h5 + h6 {
	margin-top: 0.66666667em;
	margin-top: 0.66666667rem;
}
h1 + p {
	margin-top: 0.66666667em;
}
h2 + p, h3 + p, h4 + p, h5 + p, h6 + p  {
	margin-top: 0
}

h5.class-heading{
    margin-top: 2.16667rem !important;
}

}


blockquote {
	font-family:  $font-heading;
	margin: 1.33333em 0 0.333333em;
	padding: 0.333333em 2.4em 0.33333em 2.5em;
	position: relative;
	color: $gray;
	font-size: 1.4em;
}

.blockquote-reverse,
blockquote.pull-right {
	padding-left: 2.5em;
}

blockquote:before {
	display: block;
	content: "\201C";
	font-size: 6rem;
	position: absolute;
	left: 0.12em;
	top: 0.25em;
	color: $gray-light;
}

blockquote small {
  display: block;
  color: $gray-light;
}

blockquote small:before {
  content: '\2014 \00A0';
}

/* ************************************** */
/*	Classes applied to text      					*/
/* ************************************** */

.lead {
	font-size: 1.15em;
	font-weight: normal;
	line-height: $std-line-height;
}

/**
 * Reset Bootstrap Elements
 *
 * Some Globals elements conflict with Bootstrap defaults,
 * this code corrects this.
 **/

// Alerts
.alert {
	h1, h2, h3, h4, h5, h6 {
		clear: none;
	}
}

// Remove underline where not needed
button,
a.btn,
.list-group a {
	text-decoration: none;
}

// Remove extra focus
button:focus,
a.btn:focus,
.list-group a:focus {
	box-shadow: none;
}
